body {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0;
    overflow: hidden;
}

.Header {
    display: flex;
    height: 80px;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    text-align: center;
    margin: 0 20px;
    gap: 20px;

}

.Header .menuList {
    padding-right: 50px;
    font-size: 25px;
}

.Header .menuList:hover {
    font-size: 30   px;
}

.Header > .HeaderLeft, input {
    position: relative;
    left: 30rem;
    transition: width .5s;
}

.Header > input {
    width: 75px;
    
}

.Header > input:hover {
    width: 150px
}

.Header a {
    font-size: 20px;
    text-decoration: none;
    color: green;
    font-weight: bold;

}

.Header + .HeaderTabBar, button {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    border: none;
    background-color: transparent;
    padding: 15px 0;
}

.Header + .HeaderTabBar, button:hover {
  color: red;
  font-weight: bold;
}

#ApplyGrab {
   position: relative;
   left: 62.8%;

  } 

