@media (max-width: 767px) {
    body {
        width: 320px;
        height: 480px;
        overflow-x: hidden;
    }
}

/* For computers */
@media (min-width: 768px) {
    body {
        width: 1024px;
        height: 768px;
        overflow-x: hidden;
        background-color: #F0F0F0;
    }
}




