@media (max-width: 767px) {
    body {
        width: 320px;
        height: 480px;
        overflow-x: hidden;
    }
}

/* For computers */
@media (min-width: 768px) {
    body {
        width: 1024px;
        height: 768px;
        overflow-x: hidden;
        background-color: #F0F0F0;
    }
}

#button-Container {
    width: 1250px;
    display: grid;
    background-color: #F7F6F2;
    grid-template-columns: 1fr .5fr .5fr .5fr .5fr .6fr .5fr;
    gap: 10px;
}

    
#button-Container h2 {
    color: #363a45;
}

#button-Container h1 {
    font-size: 35px;
    font-weight: bold;
    font-family: serif;
    color: #557C55;
}

#button-Container button {
    position: relative;
    padding: 5px;
    font-size: 12px;
    font-family: sans-serif;
    color: #363a45;
}

#button-Container button:hover {
    text-decoration: underline;
}

